<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>images/favicons/favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>images/favicons/site.webmanifest">
  <link rel="mask-icon" href="<%= BASE_URL %>images/favicons/safari-pinned-tab.svg" color="#2bb0ed">
  <link rel="shortcut icon" href="<%= BASE_URL %>images/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="GanttLab">
  <meta name="application-name" content="GanttLab">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="<%= BASE_URL %>images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  
  <title>GanttLab: The easy to use Gantt chart for GitLab and GitHub</title>
  <meta name="Description" content="Provide your teams with the right tool to master time and deadlines. Giving back credit to your project status and issues due dates has never been easier!">

  <meta property="og:title" content="GanttLab: The easy to use Gantt chart for GitLab and GitHub" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://app.ganttlab.org/images/GanttLab-preview.png" />
  <meta property="og:url" content="https://app.ganttlab.org/" />
  <meta property="og:description" content="Provide your teams with the right tool to master time and deadlines. Giving back credit to your project status and issues due dates has never been easier!" />
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="app.ganttlab.org">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@GanttLab" />
  <meta name="twitter:creator" content="@clorichel" />
  <meta name="twitter:image:alt" content="Preview of the GanttLab application" />
</head>

<body>
  <noscript>
    <strong>We're sorry but GanttLab doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>